@import url("fonts/stylesheet.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#viewport{
    margin: 0 auto;
    width: 100%;
    height: 633px;
    overflow: hidden;
}
#slidewrapper {
    /*margin: 50px 0px 0px 0px; */
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    
}


.slide {
       /* position: relative; */
    /* width: calc(100% - 20px); */
    padding: 0 30% 0 6%;
    /* height: 510px; */
    /* list-style: none; */
    display: flex;
    /* float: left;*/
}

.slide-info {
    margin: 160px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 330px;
}
.slide-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
}

.slide-img {
    margin: 0px 100px;
    height: 650px;
}

.slides{
    
    max-width: 1440px;
    margin: 0 auto;
}
.sliderbuttons {
    margin: -50px auto;
    display: flex;
    justify-content: space-between;
    width: 35px;
}



.big-text{
    
    
    font-family: 'Proxima Nova Bt';
    font-size: 64px;
    line-height: 64px;
    width: 570px;
    color: #FFFFFF;
}

.small-text{
    font-family: 'Proxima Nova Lt';
    line-height: 24px;
    font-size: 16px;
    width: 520px;
    color: #FFFFFF;

}




.sliderbuttons button{
    
    background: #2A496B;
    border-radius:3px;
    width: 14px;
    height: 14px;
    border: 0px;
    padding: 0px;
}

.button{
    font-family: 'Proxima Nova Sm';
    text-decoration: none;
	color:#2A496B;
	border: 5px solid #E5E31F;
	background-color: #E5E31F;
	border-radius:10px;
    padding:15px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 10px;
}




.main{
    margin: 80px auto;
    height: 700px;
    max-width: 1600px;
}

.main .penultimate-photo{
    margin: 130px 0 0 17%;
}
.photo, .penultimate-photo, .last-photo{

    margin: 130px 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    float: left;
    width: 33%;

}
.caption{
    font-family: 'Proxima Nova Sm';
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.icon-text{
    font-family: 'Proxima Nova Sm';
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    width: 350px;
    margin: 0 auto;
}

.main .b{
    margin: 0px 0px 0 40%;
    font-family: 'Proxima Nova Bt';
    font-size: 28px;
    line-height: 34px;
    color: #2A496B;
}
.opportunities{
    width: 90%;
    margin: 0 auto;
}


